{% extends 'base.html'%}

{% block content %}
<h1>Game finished!</h1>
<table>
    <thead>
        <td>Username</td>
        <td>Date</td>
        <td>Point/Fail ratio</td>
        <td>Time spent</td>
        <td>Level</td>
    </thead>
    <tbody>
        <tr>
            <td>{{ game.score.name }}</td>
            <td>{{ game.score.date }}</td>
            <td>{{ game.score.pf_ratio }}</td>
            <td>{{ game.score.time_spent }}</td>
            <td>{{ game.score.level }}</td>
        </tr>
    </tbody>
</table>

<form action="\highscore" method="POST">
    <label for="highscore">Save to highscore?</label>
    <button id="highscore" name="highscore" type="submit" value="yes">YES</button>
    <button id="highscore" name="highscore" type="submit" value="no">NO</button>
</form>
{% endblock %}